@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #2e3190;
$tertiary_color: #fecc03;
$background: #f2f2f2;
$border: #2e3190;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	border-top: 14px solid $border;
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		padding: 10px 0;
		#b {
			text-align: center;
			a {
				padding: 0 10px;
				border-right: 1px solid $border;
				display: inline-block;
				&:last-child {
					border: 0;
				}
			}
		}
		#c {
			padding-top: 15px;
			label {
				display: none;
			}
			[type=text] {
				height: inherit;
				margin: 0;
				padding: 3px 10px 2px 30px;
				background: {
					image: url(moduletable_to2_input_bg.png);
					repeat: no-repeat;
				}
				border: 1px solid $border;
				border-radius: 0;
			}
			[type=submit] {
				display: none;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h2 {
		font-size: 20px;
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
	&.special {
		.category_main {
			a.hollow.button {
				background-color: transparent;
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
		.single_main {
			.single_thumbnail {
				margin-bottom: 20px;
			}
			.single_content {
				h1 {
					font-size: 20px;
					color: $secondary_color;
				}
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b11 {
		h3 {
			background: {
				image: url(block_1_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 14px;
		}
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			font-size: 14px;
		}
		a.button {
			margin: 0;
			background-color: $tertiary_color;
			border-radius: 0;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b31 {
		h3 {
			font-size: 14px;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		text-align: center;
		a {
			padding: 0 20px;
			border-right: 1px solid $tertiary_color;
			display: inline-block;
			&:last-child {
				border: 0;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}